@import "colors";

@mixin theme($t:yellow) {
    background-color: $t;
    width: 50%;
    height: 50%;
    text-align: center;
    border: 1px;
}

.list {
    ul {
        li {
            background-color: $bgclr;
            color: $txtclr;
        }
    }
}

.c1 {
    @include theme;
}

.c2 {
    @include theme($t: purple);
}

.c3 {
    color: brown;
    font-family: Arial;
    font-size: larger;
    line-height: 5px;
}

.c4 {
    color: blueviolet;
    @extend .c3
}