body {
    font-family: Arial;
    background-color: #7da475;
    margin: 100px;
} 
h1 {
    border: 1px dashed black;
    padding: 30px;
}
h2 {
    color: lightyellow; 
}
p {
    color: turquoise;
    }