@media (max-width: 599px) {
    body {
        background-color: lightblue;
    }
    .column {
        width: 100%;
    }
}
@media (min-width: 600px) {
    .column {
        float: left;
        width: 33.33%;
    }
}