@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); /*Montserrat font*/

body {
    margin: 0;
    padding: 0;
    background-color: darkolivegreen;
    color: white;
    font-family: "Montserrat", sans-serif;
    /*ensure content is centered vertically*/
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
h1 {
    text-align: center;
}

/*for shambali bg*/
.card-container {
    padding: 20px 0;
    background-image: url('img/Shambali.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*holds zen img + info side by side*/
.card {
    display: flex;
    max-width: 1340px;
    margin: 0 50px;
    border: 1px rgba(255, 255, 255, 0.5) solid; /*used transparent white outline to blend to the bg*/
    border-radius: 20px;
    backdrop-filter: blur(5px); /*for glass effect*/
}
/*zen img*/
.zen {
    width: 100%;
    object-fit: cover; /*so img does not look squished when screen size becomes smaller*/
    border-radius: 20px 0 0 20px; /*top right bot left*/
}
/*===right text of zen img*/
.info {
    margin: 10px 30px;
    color: white;
}
/*side by side icons and data (role, loc, bday)*/
.info .flex {
    display: flex;
    align-items: center;
} 
/*icons*/
.info img {
    width: 20px;
    height: 20px;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
} 
/*===read more btn*/
.info button {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    padding: 10px;
    margin: 20px 0;
    color: white;
    background-color: rgba(0,0,0,0);
    border: 1px rgba(255, 255, 255, 0.5) solid;
    border-radius: 5px;
}
.info button:hover {
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 0 10px white; /*shadow: horizontal + vertical offset, blur radius, color*/;
    transition: 0.2s;
}

/*===MQs for responsiveness*/
/*small & large mobiles to tablet*/
@media screen and (max-width: 1023px) {
    .card {
        flex-direction: column;
    }
    /*===center button but all texts to left*/
    .info {
        text-align: center;
    }
    .info .desc, .flex {
        text-align: left;
    }
    /*zen img w/ top corners round*/
    .zen {
        width: 100%;
        border-radius: 20px 20px 0 0; /*top right bot left*/
    }
}
/*small & large mobiles have smaller margin*/
@media screen and (max-width: 720px) {
    .card {
        margin: 0 10px;
    }
}
/*desktops*/
@media screen and (min-width: 1440px) {
    .card {
        margin: auto;
    }
}