* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: aquamarine;
    overflow-x: hidden; /*prevent horizontal scroll*/
}
h1 {
    text-align: center;
}

.navbar-bg {
    width: 100%;
    height: 100px;
    object-fit: cover; /*prevent stretching of img because of adjusted height*/
}
nav {
    width: 100%;
    height: 100px;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute; /*so navbar is on top of img*/
    font-weight: bold;
    font-family: Helvetica, sans-serif;

    /*add a blurry overlay to blur bg img*/
    background-color: rgba(0, 21, 255, 0.1);
    backdrop-filter: blur(5px);
}
nav a {
    text-decoration: none;
    color: #95e3bb;
    padding: 3px 5px;
}
nav a:hover {
    padding: 3px 5px;
    color: #13B370;
    font-size: larger;
    border: 2px #13B370 solid;
    border-radius: 3px;
    transition: 0.2s;
}